<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list class="inputs-list" lines="full">
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <ng-container *ngFor="let item of itemsOrder" >
        <ion-item>
          <ng-container [ngSwitch]="item.name">
            <ion-row *ngSwitchCase="'reminder'" class="reminder-row">
              <ion-col size="md" (click)="onReminderList()" class="item-wrapper item_ ion_">
                  <img src="../../assets/images/reminder.png">
              </ion-col>
              <ion-col  class="scroll">
                <ion-col (click)="editReminder(item)" class="item-wrapper item_" *ngFor="let item of homeDate?.Item?.UserReminders">
                  <div class="title_">{{ item.title }}</div>
                  <div> {{ item.date | appDateFormat }} </div>
                </ion-col>
              </ion-col>
            </ion-row>
            <ion-row *ngSwitchCase="'categories'" class="reminder-row">
              <ion-col  class="scroll">
                <ion-col class="item-wrapper cat-item" (click)="loadPosts(item)" *ngFor="let item of homeDate?.Item?.CategoriesList">
                  <div>{{ item.title }}</div>
                </ion-col>
              </ion-col>
            </ion-row>
            <ion-row *ngSwitchCase="'checklist'" class="reminder-row">
              <ion-col size="md" (click)="onCheckList()" class="item-wrapper item_ ion_">
                  <img src="../../assets/images/checklist.png">
              </ion-col>
              <ion-col  class="scroll">
                <ion-col class="item-wrapper item_" *ngFor="let item of homeDate?.Item?.UserCheckLists?.checklist">
                  <div>{{ item.title }}</div>
                </ion-col>
              </ion-col>
            </ion-row>
            <ion-content *ngSwitchCase="'posts'" class="posts-list">
              <ion-row *ngFor="let item of homeDate?.Item?.PostsList">
                <div class="post_item">
                  <div class="dots"><ion-icon (click)="presentPopover($event,item)" name="ellipsis-horizontal-outline"></ion-icon></div>
                 <div [class]="item?.size" class="post-detail">
                  <div class="detail">
                    <a class="name-anchor" [routerLink]="['/app/categories/posts',item.category_id,'post-detail',item.post_id]" >
                      <h2>{{ item.title }}</h2>
                    </a>
                    <p>{{ item.description }}</p>
                  </div>
                  <div class="img">
                      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                        <app-image-shell [src]="item.title_picture" alt="'image'"></app-image-shell>
                      </app-aspect-ratio>
                  </div>
                 </div>
                </div>
              </ion-row>
            </ion-content>
          </ng-container>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ng-container>
      
    </ion-reorder-group>
  </ion-list>
  
  <!-- <ion-list class="shall-list">
      <ion-item *ngIf="homeDate?.Item?.UserReminders.length>=0">
        <ion-row class="reminder-row" >
          <ion-col size="md" class="item-wrapper item_ ion_">
            <app-aspect-ratio class="shell-img">
              <app-image-shell animation="gradient" [src]="item?.img" [alt]="'Sample Image'"></app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col  class="scroll">
            <ion-col class="item-wrapper item_" let="item" >
              <div class="title_"><app-text-shell [data]="item?.title" animation="gradient"></app-text-shell></div>
              <div><app-text-shell [data]="item?.date" animation="gradient"></app-text-shell> </div>
            </ion-col>
            <ion-col class="item-wrapper item_" let="item" >
              <div class="title_"><app-text-shell [data]="item?.title" animation="gradient"></app-text-shell></div>
              <div><app-text-shell [data]="item?.date" animation="gradient"></app-text-shell> </div>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-item>
  </ion-list>
</ion-content> -->
