<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list class="inputs-list" lines="full">
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <ng-container *ngFor="let item of itemsOrder" >
        <ion-item [ngClass]="{'posts-list-item':item?.name == 'posts'}">
          <ng-container [ngSwitch]="item.name">
            <ion-row *ngSwitchCase="'reminder'" class="reminder-row">
              <ion-col size="md" (click)="onReminderList()" class="item-wrapper item_ ion_">
                  <img src="../../assets/images/reminder.png">
              </ion-col>
              <ion-col  class="scroll">
                <ion-col (click)="editReminder(item)" class="item-wrapper item_" *ngFor="let item of homeDate?.Item?.UserReminders">
                  <div class="title_">{{ item.title }}</div>
                  <div> {{ item.date | appDateFormat }} </div>
                </ion-col>
              </ion-col>
            </ion-row>
            <ion-row *ngSwitchCase="'categories'" class="reminder-row">
              <ion-col  class="scroll">
                <ion-col class="item-wrapper cat-item" (click)="loadPosts(item)" *ngFor="let item of homeDate?.Item?.CategoriesList">
                  <div>{{ item.title }}</div>
                </ion-col>
              </ion-col>
            </ion-row>
            <ion-row *ngSwitchCase="'checklist'" class="reminder-row">
              <ion-col size="md" (click)="onCheckList()" class="item-wrapper item_ ion_">
                  <img src="../../assets/images/checklist.png">
              </ion-col>
              <ion-col  class="scroll">
                <ion-col class="item-wrapper item_" *ngFor="let item of homeDate?.Item?.UserCheckLists?.checklist">
                  <div>{{ item.title }}</div>
                </ion-col>
              </ion-col>
            </ion-row>
            <ion-content *ngSwitchCase="'posts'" class="posts-list">
              <ion-row *ngFor="let item of homeDate?.Item?.PostsList">
                <div class="post_item" [class]="item?.size">
                    <div class="dots"><ion-icon (click)="presentPopover($event,item)" name="ellipsis-horizontal-outline"></ion-icon></div>
                    <div [ngClass]="{'small-title-image':item?.size == 'small','large-title-image':item?.size == 'large'}">
                      <a [routerLink]="['/app/categories/posts',item.category_id,'post-detail',item.post_id]" >
                        <app-aspect-ratio *ngIf="item?.size == 'small'" [ratio]="{w:1, h:1}">
                          <app-image-shell [src]="item.title_picture" alt="'image'"></app-image-shell>
                        </app-aspect-ratio>
                        <app-aspect-ratio style="border-radius: 10px;" *ngIf="item?.size == 'large'" [ratio]="{w:70, h:35}">
                          <app-image-shell [src]="item.title_picture" alt="'image'"></app-image-shell>
                        </app-aspect-ratio>
                      </a>
                   </div>
                   <div class="detail">
                      <div class="title"> 
                        <a [routerLink]="['/app/categories/posts',item.category_id,'post-detail',item.post_id]" >
                          <h2>{{ item.title }}</h2>
                        </a>
                      </div>
                        <p class="description">{{ item.description }}</p>
                      <ion-row *ngIf="item.tags.length>0" class="item-tags">
                          <ion-col class="tag-wrapper" *ngFor="let tag of item.tags">
                            <span class="item-tag">
                              <app-text-shell [data]="tag"></app-text-shell>
                            </span>
                          </ion-col>
                      </ion-row>
                      <ion-row class="pictures-row">
                        <ion-col class="picture-wrapper" *ngFor="let picture of item?.additional_pictures?.slice(0, 5); let i = index">
                          <app-aspect-ratio [ratio]="{w:1, h:1}">
                            <app-image-shell class="user-picture-image" [src]="picture" [alt]="'user image'"></app-image-shell>
                          </app-aspect-ratio>
                          <a class="has-more-pictures" *ngIf="i == 4 && item?.additional_pictures?.length > 5" [routerLink]="['/app/categories/posts',item.category_id,'post-detail',item.post_id]">
                            <span class="pictures-count">{{ item?.additional_pictures?.length - 5 }}</span>
                          </a>
                        </ion-col>
                      </ion-row>
                   </div>
                </div>
              </ion-row>
            </ion-content>
          </ng-container>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ng-container>
    </ion-reorder-group>
  </ion-list>
</ion-content> 
