<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-row class="reminder-row">
    <ion-col size="md" (click)="onReminderList()" class="item-wrapper item_ ion_">
        <img src="../../assets/images/reminder.png">
    </ion-col>
    <ion-col  class="scroll">
      <ion-col (click)="editReminder(item)" class="item-wrapper item_" *ngFor="let item of homeDate?.Item?.UserReminders">
        <div class="title_">{{ item.title }}</div>
        <div> {{ item.date | appDateFormat }} </div>
      </ion-col>
    </ion-col>
  </ion-row>

  <ion-row class="reminder-row">
    <ion-col  class="scroll">
      <ion-col class="item-wrapper cat-item" *ngFor="let item of homeDate?.Item?.CategoriesList">
        <div>{{ item.title }}</div>
      </ion-col>
    </ion-col>
  </ion-row>

  <ion-row class="reminder-row">
    <ion-col size="md" (click)="onCheckList()" class="item-wrapper item_ ion_">
        <img src="../../assets/images/checklist.png">
    </ion-col>
    <ion-col  class="scroll">
      <ion-col class="item-wrapper item_" *ngFor="let item of homeDate?.Item?.UserCheckLists?.checklist">
        <div>{{ item.title }}</div>
      </ion-col>
    </ion-col>
  </ion-row>

  <ion-content class="posts-list">
    <ion-row *ngFor="let item of items">
      <div class="post_item min">
        <div class="dots"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></div>
        <div class="detail">
          <h2>{{ item.name }}</h2>
          <p>Test test test test test test test test test test test test test test test</p>
        </div>
        <div class="img">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell src="../../assets/sample-images/food/Cat1Foto1-1.1.png" alt="'image'"></app-image-shell>
            </app-aspect-ratio>
          <!-- <img src="../../assets/sample-images/food/Cat1Foto1-1.1.png"> -->
          <!-- <img src="../../assets/images/checklist.png"> -->
        </div>
      </div>
    </ion-row>
  </ion-content>
  

<!-- <ion-content>
  <ion-row *ngIf="listing?.items" class="categories-list">
    <ng-container *ngFor="let item of listing?.items">
      <ion-col class="category-item" [ngClass]="item.class"  [size]="item.size">
        <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="item.src">
          <app-aspect-ratio [ratio]="item.ratio">
            <a class="category-anchor" (click)="openCategory(item.id)">
              <h2 class="category-title">{{ item.title }}</h2>
            </a>
          </app-aspect-ratio>
        </app-image-shell>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-content> -->
