<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button [defaultHref]="back"></ion-back-button>
    </ion-buttons>
    <ion-title>Post Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="food-details-content">
  <ion-row class="image-row">
    <ion-col size="12">
      <app-image-shell [display]="'cover'" animation="spinner" class="add-overlay showcase-image" [src]="details?.title_picture">
        <app-aspect-ratio [ratio]="{w:64, h:40}">
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>

  <ng-container *ngFor="let item of details.order">
    <ng-container [ngSwitch]="item.type">
      <ion-row  *ngSwitchCase="'text'" class="description-row">
        <ion-col size="9">
          <h3 class="details-name">
            <app-text-shell *ngIf="item.name=='title'" [data]="details.title"></app-text-shell>
            <app-text-shell *ngIf="item.name!='title'" [data]="item.value"></app-text-shell>
          </h3>
        </ion-col>
      </ion-row>
    
      <div *ngSwitchCase="'textarea'" class="location-wrapper">
        <div class="location-header">
          <h3 *ngIf="item.name=='description'" class="detail-title">Description</h3>
          <span class="location-address">
            <app-text-shell *ngIf="item.name!='description'" [data]="item.value"></app-text-shell>
            <app-text-shell *ngIf="item.name=='description'" [data]="details.description"></app-text-shell>
          </span>
        </div>
      </div>

      <ion-row *ngSwitchCase="'tags'" class="details-tags">
        <ion-col class="tag-wrapper" *ngFor="let tag of details?.tags">
          <span class="item-tag">
            <app-text-shell [data]="tag"></app-text-shell>
          </span>
        </ion-col>
      </ion-row>

      <div  *ngSwitchCase="'img'" class="cover-wrapper">
          <app-image-shell class="cover-image add-overlay" animation="spinner" [display]="'cover'" [src]="item?.value">
            <app-aspect-ratio [ratio]="{w:35, h:15}">
            </app-aspect-ratio>
          </app-image-shell>
      </div>

      <ion-row *ngSwitchCase="'url'" class="image-row">
        <ion-col size="12" style="text-align: center;">
          <iframe  [src]="sanitizer(item.value)" frameborder="0" autoplay ></iframe>
        </ion-col>
      </ion-row>

    </ng-container>
  </ng-container>

  <hr class="details-divider">

  <div class="users-pictures-wrapper">
    <h3 class="detail-title">User's photos</h3>
    <ion-row class="pictures-row">
      <ion-col class="picture-wrapper" *ngFor="let picture of details?.additional_pictures?.slice(0, 5); let i = index">
        <app-aspect-ratio [ratio]="{w: 1, h: 1}">
          <app-image-shell class="user-picture-image" [src]="picture" [alt]="'user image'"></app-image-shell>
        </app-aspect-ratio>
        <a class="has-more-pictures" *ngIf="i == 4 && details?.additional_pictures?.length > 5">
          <span class="pictures-count">{{ details?.additional_pictures?.length - 5 }}</span>
        </a>
      </ion-col>
    </ion-row>
    <ion-button class="upload-picture-btn" color="tertiary"  fill="solid" expand="block" (click)="editPost(details?.category_id,details?.post_id)" >Edit</ion-button>
    <ion-button class="upload-picture-btn" color="secondary" fill="solid" expand="block" (click)="deletePost(details?.post_id)" >Delete</ion-button>
  </div>
  
</ion-content>
