@import "theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);

  --page-categories-gutter: calc(var(--page-margin) / 4);

  --page-category-background: var(--ion-color-medium);
  --page-category-background-rgb: var(--ion-color-medium-rgb);
  --page-background: transparent;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll;

  @include hide-scrollbars();

  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }
    }
  }

  .blue-category {
    --page-category-background: #00AFFF;
    --page-category-background-rgb: 0,175,255;
  }

  .pink-category {
    --page-category-background: #cb328f;
    --page-category-background-rgb: 203,50,143;
  }

  .yellow-category {
    --page-category-background: #ebbb00;
    --page-category-background-rgb: 235,187,0;
  }

  .green-category {
    --page-category-background: #70df70;
    --page-category-background-rgb: 112,223,112;
  }

  .red-category {
    --page-category-background: #d9453a;
    --page-category-background-rgb: 217,69,58;
  }
}

ion-content::part(background)
{
  background: var(--page-background) !important;
}
ion-item::part(native){
  background: var(--page-background) !important;
  border: none !important;
  padding-inline-start:0 !important;
}
.inputs-list {
  --ion-item-background: var(--page-background);
}
.scroll {
  margin: 4px, 4px;
  padding: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background: transparent;
  height: auto;
}
.item_{
    background: #474d52;
    color: white;
    padding: 15px;
    opacity: 0.50;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    min-height: 75px;
    
    max-width: 140px;
}
.ion_{
  width: auto !important;
  padding: 5px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  height: 82px !important;
}
.ion_ img{
  width: 73px;
}
.reminder-row {
  --ion-grid-columns: 10;
  --ion-grid-column-padding: 0px;
width: 100%;
  margin: 0px calc(var(--page-users-pictures-gutter) * -1);
  .item-wrapper {
    --col-item-width: 2;
    // SSR fix: Override ion-col styles
    
  }
}
.title_{
  overflow: hidden;
  margin-bottom: 8px;
}
ion-input, ion-icon, ion-label, ion-textarea, ion-select, ion-reorder{
  color: white;
}
ion-reorder{
  position: absolute;
  top: -10px;
  right: -3px;
}
.cat-item{
  background: #474d52;
  color: white;
  padding: 15px;
  opacity: 0.5;
  margin: 6px;
  border-radius: 10px;
  display: inline-block;
  width: auto;
  min-height: 48px;
}
.posts-row {
  --ion-grid-columns: 10;
  --ion-grid-column-padding: 0px;

  margin: 0px calc(var(--page-users-pictures-gutter) * -1);
  .item-wrapper {
    --col-item-width: 2;
    // SSR fix: Override ion-col styles
    
  }
  .item_{
    width: auto !important;
  }
}

.posts-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  min-height: 80vh;
  align-content: flex-start;
  overflow: scroll;

  .post_item{
    background: #474d52;
    color: white;
    padding: 15px;
    opacity: 0.50;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    padding-right: 0px;
    padding-top: 3px;
    padding-left: 10px;
    
    a{
      color: white;
      text-decoration: none;
    }
    h2{
      margin: 0px;
    }
    p{
      margin: 0px;
      font-size: 11px;
    }
    .detail{
      width: 82%;
      float: left;
     }
     
     .img{
      // width: 20%;
      float: left;
      --col-item-width: 2;
      // SSR fix: Override ion-col styles
      flex: 0 0 calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);
      width: calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);
      max-width: calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);
      padding: 0px var(--page-users-pictures-gutter);
     }
  }
  .min{
    min-height: 100px
  }
  .max{
    min-height: 300 px
  }
  .dots{
    text-align: right;
    width: 98.7%;
    height: 14px;
  }
}
ion-list{
  background: var(--page-background);
}
.post-detail{
  overflow-y: hidden;
	transition-property: all;
	transition-duration: .7s;
	transition-timing-function: cubic-bezier(0, 1, 0.7, 1);
}
.post-detail.small{
  min-height: 70px;
}

.post-detail.large{
  min-height: 200px;
}

.shall-list{

  .shell-img{
    width: 90px;
    height: 75px;
    border-radius: 10px;
  }
  .item_{
    background: none;
  }
}