<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" (click)="onBack()">
        <!-- <ion-back-button [defaultHref]="back"></ion-back-button> -->
      </ion-buttons>
      <ion-title>Share Post</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
    <form class="validations-form" [formGroup]="validationsForm">
      <ion-list class="inputs-list" lines="full">

        <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
          <ng-container *ngFor="let item of itemsOrder" >
            <ion-item-sliding>
            <ion-item  class="input-item item-label-floating">
              <ng-container [ngSwitch]="item.type">
                <ion-label position="floating">{{item.title}}</ion-label>
                <ion-input *ngIf="item.type=='text'" type="text" [formControlName]="item.name" clearInput required></ion-input>
                <ion-textarea *ngIf="item.type=='textarea'" rows="2"  type="text" [formControlName]="item.name" clearInput></ion-textarea>
                  <ng-container *ngSwitchCase="'category'" >
                    <ion-select [formControlName]="item.name" cancelText="Cancel" okText="OK">
                      <ion-select-option *ngFor="let category of categoriesList" [value]="category.id" >{{ category.title }}</ion-select-option>
                     </ion-select>
                  </ng-container>
                  <ng-container *ngSwitchCase="'tags'" >
                    <ion-input type="text" clearInput (keyup.enter)="addTags($event)"></ion-input>
                    <ion-row *ngIf="tags.length>0" class="item-tags">
                     <ion-col class="tag-wrapper" *ngFor="let tag of tags">
                       <span class="item-tag">
                         <app-text-shell [data]="tag"></app-text-shell>
                       </span>
                     </ion-col>
                   </ion-row>
                  </ng-container>
                  <ng-container *ngSwitchCase="'img'">
                    <ion-row class="pictures-row">
                        <img [src]="item.value" [alt]="'image'" />
                    </ion-row>
                  </ng-container>
                  <ng-container *ngSwitchCase="'url'">
                      <iframe  [src]="sanitizer(item.value)" frameborder="0" autoplay ></iframe>
                  </ng-container>
                  <div class="error-container">
                    <ng-container *ngFor="let validation of validations[item.name]">
                      <div class="error-message" *ngIf="validationsForm.get(item.name).hasError(validation.type) && (validationsForm.get(item.name).dirty || validationsForm.get(item.name).touched)">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span>{{ validation.message }}</span>
                      </div>
                    </ng-container>
                  </div>
              </ng-container>
               <ion-reorder slot="end"></ion-reorder>
              
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="optionAdd(item.name)" *ngIf="AddFields.indexOf(item.name)>=0" >Add</ion-item-option>
              <ion-item-option (click)="optionRemove(item)" *ngIf="DefaultFields.indexOf(item.name)<0" color="danger">Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ng-container>
         
          <ion-row>
            <ion-col col-4> 
              <ion-tab-button (click)="addField('text')" >
                <ion-icon name="add-circle"></ion-icon>
                <ion-label class="tab-title">Text</ion-label>
              </ion-tab-button>
            </ion-col>
            <ion-col col-4 class="choose-image">
              <ion-tab-button (click)="btnchoseImage.click()" >
                <ion-icon name="add-circle"></ion-icon>
                <ion-label class="tab-title">Image</ion-label>
              </ion-tab-button>
              <input type="file" #btnchoseImage (change)="choseImage($event.target.files)" />
            </ion-col>
            <ion-col col-4>
              <ion-tab-button (click)="addField('youtube')" >
                <ion-icon name="add-circle"></ion-icon>
                <ion-label class="tab-title">Youtube Video</ion-label>
              </ion-tab-button>
            </ion-col>

            <!-- <ion-item class="radio-tag" lines="none">
              <ion-button class="submit-btn" type="button" expand="block" fill="solid">Add Text</ion-button>
            </ion-item>
            <ion-item class="radio-tag" lines="none">
              <ion-button class="submit-btn" type="button" expand="block" fill="solid">Add Image</ion-button>
            </ion-item>
            <ion-item class="radio-tag" lines="none">
              <ion-button class="submit-btn" type="button" expand="block" fill="solid">Add YoutTube Link</ion-button>
            </ion-item> -->
          </ion-row>
          <!-- <ion-item class="input-item item-label-floating">
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" formControlName="title" clearInput required></ion-input>
            <ion-reorder slot="end"></ion-reorder>
            <div class="error-container">
              <ng-container *ngFor="let validation of validations.title">
                <div class="error-message" *ngIf="validationsForm.get('title').hasError(validation.type) && (validationsForm.get('title').dirty || validationsForm.get('title').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </ion-item> -->
         
          <!-- <ion-item class="input-item item-label-floating">
            <ion-label position="floating">Description</ion-label>
            <ion-textarea  rows="2"  type="text" formControlName="description" clearInput></ion-textarea>
            <ion-reorder slot="end"></ion-reorder>
            <div class="error-container">
              <ng-container *ngFor="let validation of validations.description">
                <div class="error-message" *ngIf="validationsForm.get('description').hasError(validation.type) && (validationsForm.get('description').dirty || validationsForm.get('description').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </ion-item> -->
          
          <!-- <ion-item class="input-item item-label-floating">
            <ion-label position="floating">Category</ion-label>
            <ion-select formControlName="category_id" cancelText="Cancel" okText="OK">
              <ion-select-option *ngFor="let category of categoriesList" [value]="category.id" >{{ category.title }}</ion-select-option>
            </ion-select>
            <ion-reorder slot="end"></ion-reorder>
            <div class="error-container">
              <ng-container *ngFor="let validation of validations.category_id">
                <div class="error-message" *ngIf="validationsForm.get('category_id').hasError(validation.type) && (validationsForm.get('category_id').dirty || validationsForm.get('category_id').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </ion-item> -->
        
          <!-- <ion-item class="input-item item-label-floating">
            <ion-label position="floating">Tags</ion-label>
            <ion-input type="text"  clearInput (keyup.enter)="addTags($event)"></ion-input>
            <ion-reorder slot="end"></ion-reorder>
            <ion-row *ngIf="tags.length>0" class="item-tags">
              <ion-col class="tag-wrapper" *ngFor="let tag of tags">
                <span class="item-tag">
                  <app-text-shell [data]="tag"></app-text-shell>
                </span>
              </ion-col>
            </ion-row>
          </ion-item> -->
        </ion-reorder-group>
      </ion-list>
  
      <div class="cover-wrapper">
        <a class="cover-anchor" (click)="btnfile.click()" >
          <app-image-shell class="cover-image add-overlay" animation="spinner" [display]="'cover'" [src]="title_image.result">
            <app-aspect-ratio [ratio]="{w:35, h:15}">
              <div class="cover-icon-wrapper">
                <app-aspect-ratio [ratio]="{w: 20, h: 7}">
                  <app-image-shell *ngIf="!is_title_image_selected" class="item-icon" [src]="'./assets/sample-images/food/la-olla-icon.svg'"></app-image-shell>
                </app-aspect-ratio>
              </div>
            </app-aspect-ratio>
          </app-image-shell>
        </a>
          <input type="file" #btnfile (change)="uploadImage($event.target.files)" />
      </div>
      <div class="error-container">
        <ng-container *ngIf="!is_title_image_selected && is_Submitted" >
          <div class="error-message">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Title image is required</span>
          </div>
        </ng-container>
      </div>

      <ion-row class="pictures-row">
        <ion-col class="picture-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="picture-image" [src]="'./assets/sample-images/food/Cat1Foto5-1.1.png'" [alt]="'food image'"></app-image-shell>
          </app-aspect-ratio>
          <a class="has-more-pictures" (click)="btnAdditionalfile.click()" >
            <span class="pictures-count pictures-add"></span>
          </a>
          <input type="file" #btnAdditionalfile (change)="uploadAdditionalImage($event.target.files)" />
        </ion-col>
        <ion-col class="picture-wrapper" *ngFor="let picture of additional_pictures.slice(0, 4); let i = index">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="picture-image" [src]="picture.result" [alt]="'food image'"></app-image-shell>
          </app-aspect-ratio>
          <a class="has-more-pictures" *ngIf="i == 3 && additional_pictures.length > 4">
            <span class="pictures-count">{{ additional_pictures.length - 4 }}</span>
          </a>
        </ion-col>
      </ion-row>

      <div class="error-container">
        <ng-container *ngIf="additional_pictures.length<=0 && is_Submitted" >
          <div class="error-message">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Additional image is required</span>
          </div>
        </ng-container>
      </div>
      <ion-button class="submit-btn" type="button" (click)="onSubmit()" expand="block" fill="solid" [disabled]="!validationsForm.valid">{{button_title}}</ion-button>
    </form>
  </ion-content>